<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/"> HOME </a>
    <br />
    <a href="/drones"> LIST OF DRONES </a>
    <br />
    <a href="/drones/new"> ADD NEW DRONE </a>

    <h1><%= title %></h1>
    <%- body %>
  </body>
</html>
