<h2> New Drone </h2>


<form method="post" action="/drones">

  <label for="drone-name-input"> Drone Name: </label>
  <input id="drone-name-input" type="text" name="droneName" />
  <br />

  <label for="drone-propellor-input"> Number of Propellers:</label>
  <input id="drone-propellor-input" type="text" name="dronePropellor" />
  <br />

  <label for="drone-maxspeed-input"> Max Speed: </label>
  <input id="drone-maxspeed-input" type="text" name="droneMaxSpeed" />
  <br />


  <button> Save Drone </button>

</form>
